:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #101820ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
  color: #fcf6f5ff;
}

/* Parent app  */
.app {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 14px #8aaae5;
}

/* container  */
.container {
  margin: 30px auto;
  min-width: 350px;
  padding: 10px;
}

/* headings */
h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #ff69b4;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: fuchsia;
  font-weight: bolder;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h3.history {
  color: #ff69b4;
}
h3.transaction {
  color: #8aaae5;
}

h4 {
  margin: 0;
  text-transform: capitalize;
}
h4.inc {
  color: rgb(21, 141, 21);
}
h4.exp {
  color: rgb(177, 31, 31);
}

/* income & expense  */
.inc-exp-container {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px #8aaae5;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
  border-radius: 5px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}
.inc-exp-container > div:first-of-type {
  border-right: 1px solid #fcf6f5ff;
}

.money {
  font-size: 2;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money-plus {
  color: #2ecc71;
}

.money-minus {
  color: #c0392b;
}

/* list  */
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  border-radius: 5px;
}

.list li {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px #8aaae5;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  outline: none;
  border: none;
  color: #fcf6f5ff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

/* form  */
label {
  display: inline-block;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #fcf6f5ff;
  border-radius: 5px;
  outline: none;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #fcf6f5ff;
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(116, 44, 231);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}
